*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.python-version
.ropeproject
.scrapy
.spyderproject
.tox/
.webassets-cache
start_coverage.sh
ENV/
__pycache__/
build/
celerybeat-schedule
coverage-report/
coverage.xml
db.*
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
manage.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
runner/
sdist/
target/
var/
venv/
/runner/settings.py
